<%-include("partials/header")-%>

<h1>Home</h1>
<p><%= paraSend  %></p>

<%posts.forEach(function(key){%>
    <h1><%=key.title%></h1>
    <p><%=(key.contant).substring(0,100)%></p>
 <%});%>







<%-include("partials/footer")-%>
